
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: darkblue;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: orange;
  }