.App-header {
    background-color: black;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

/* selected link */
a:active {
    color: lightgrey;
}