.App {
    background-color: whitesmoke;
    height: 1vmax;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5vh;
    background-color: black;
    color: white;
    text-align: center;
}

.content-height {
    height: calc(100vh - 5vh - 60px);
}

.glass-card-content {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin-top: 10px;
    min-height: 50vh;
}

.glass-card-content-min-height {
    min-height: 50vh;
}
